<launch>
  <arg name="goalx" default="0.56" />
  <arg name="goaly" default="0.16" />
  <arg name="goalz" default="0.056" />
  <arg name="max_toobs" default="0.06" />
  <arg name="stepsize_cartesian" default="0.5" />
  <arg name="planchoice" default="7" />
  <arg name="benchmark_runnum" default = "50" />
  <arg name="improve_plantraj" default="1" />
  <arg name="IK_forward" default="1" />
  <arg name="smooth_tol" default="2.2" />
  <arg name="bSpline_maxstep" default = "1" />
  <arg name="max_cubic_stepsize" default = "0.04" />
  <arg name="only_look_Traj_mid_pos" default = "0" />
  <arg name="robotrange" default = "0.8" />
  <arg name="ifcubic" default = "1" />
  

 
  <node name="FMGPlanner"
        pkg="planning_test"
        type="FMGPlanner"
        respawn="false" output="screen">
    <rosparam command="load"
              file="$(find lwa4p_moveit_config)/config/kinematics.yaml"/>
    <param name="goalx" value="$(arg goalx)"/>
    <param name="goaly" value="$(arg goaly)"/>
    <param name="goalz" value="$(arg goalz)"/>
    <param name="max_toobs" value="$(arg max_toobs)"/>
    <param name="stepsize_cartesian" value="$(arg stepsize_cartesian)"/>
    <param name="planchoice" value="$(arg planchoice)"/>
    <param name="benchmark_runnum" value="$(arg benchmark_runnum)"/>
    <param name="IK_forward" value="$(arg IK_forward)"/>
    <param name="improve_plantraj" value="$(arg improve_plantraj)"/>
    <param name="smooth_tol" value="$(arg smooth_tol)"/>
    <param name="bSpline_maxstep" value="$(arg bSpline_maxstep)"/>
    <param name="max_cubic_stepsize" value="$(arg max_cubic_stepsize)"/>
    <param name="only_look_Traj_mid_pos" value="$(arg only_look_Traj_mid_pos)"/>
    <param name="robotrange" value="$(arg robotrange)"/>
    <param name="/planning_plugin" value="ompl_interface/OMPLPlanner"/>
    <param name="ifcubic" value="$(arg ifcubic)"/>
    <rosparam command="load" file="$(find lwa4p_moveit_config)/config/ompl_planning.yaml"/>

   
  </node>

</launch>